.list {
  div, article {
    a {
      &:hover {
        div:first-child {
          overflow: hidden;
        }
        img {
          transition: 1s;
          transform: scaleX(1.1) scaleY(1.1);
        }
      }
      display: block;
      position: relative;
      text-decoration: none;
    }
    img {
      width: 100%;
    }
    div:last-child {
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px 10px;
      position: absolute;
      background-color: #0000007a;
      p, h4 {
        padding: 0;
        color: #fff;
        margin: 0 auto;
      }
      h4 {
        font-size: 1.2em;
        font-weight: 600;
      }
      p {
        font-size: .9em;
      }
    }
  }
}