.form-control {
    &:disabled, &[readonly] {
        background-color: #ffffff;
        border-top: none;
        opacity: 1;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
}

a {
    > i.fas {
        padding: 0 5px;
    }
}

.navbar-collapse {
    a {
        &:hover {
            text-shadow: 1px 1px 1px #000000a6;
        }
    }
}